apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-nkonnfhz
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-nkonnfhz:2196053a9b36b1345d60eda3deb4d7b48c5abd43@sha256:0ee7be7e609223dde209c1e6debd376ab15d8a4101673bb8d239982a77e6af3c
        name: container-image  
